* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
/* features */


.game {
    user-select: none;
}



/* dimensions */

#app {
    border: 1px solid black;
    height: 422px;
    padding: 0 30px 0 15px;
}

.game {
    border: 1px solid black;
    height: 322px;
    width: 322px;
}


button {
    /* flex: 1; */
    height: 70px;
    width: 70px;
}

#colorpicker {
    flex: 0 1 auto;
    height: 70px;
    width: 70px;
    padding: 20px 20px
}


/* layout */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display:flex;
    flex-direction: column;
    height: 322px;
    margin-right: 15px;
    justify-content: center;
    gap: 4px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content:space-between;
}



/* styles */


body {
    background-color: white;
}

#app {
    border-radius: 10%;
    background-color: whitesmoke;
}

.game {   
    background-color: white;
}


button {
    border-radius: 100%;
}

.activated {
    background-color: black;
}

#colorpicker {
    border-radius: 100%;
    border: 1px solid black;
    
}


/* ---------------------------------------- */
